@media (max-width: 1024px) {
    .header-container {
        width: 90%;
    }
    .header-menu ul li {
        padding: 22px 15px;
    }
    .slider-container {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .header-container {
        width: 95%;
    }
    .header-logo {
        width: 23%;
    }
    .header-menu {
        width: 75%;
        font-size: 15px;
    }
    .header-menu ul li {
        padding: 22px 10px;
    }
    .slider-photo {
        width: 35%;
        padding: 0 10%;
        margin-top: 25px;
    }
}

@media (max-width: 576px) {
    .header-container {
        width: 90%;
        margin: auto;
        padding-bottom: 20px;
    }
    .header-logo {
        width: 18%;
    }
    .header-logo img {
        width: 100%;
    }
    .header-menu {
        width: 80%;
        font-size: 12px;
    }
    .header-menu ul li {
        padding: 14px 5px;
    }
    .slider-description {
        width: 35%;
        padding: 60px 2% 60px 8%;
        float: left;
    }
    .slider-description h1 {
        font-size: 20px;
    }
    .slider-description h2 {
        font-size: 16px;
    }
    .slider-description p {
        font-size: 14px;
    }
    .slider-photo {
        width: 35%;
        padding: 0 10%;
        margin-top: 40px;
    }
}