*{
    margin: 0;
    padding: 0;
    border: 0;
}
/* Header */
header {
    background-image: url("../img/background.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header-container {
    width: 80%;
    margin: auto;
    display: table; 
    clear: both;
    padding: 20px;
}

.header-logo {
    float: left;
}

.header-menu {
   float: right;
}

.header-menu ul {
    display: table;
    clear: both;
}

.header-menu ul li {
    float: left;
    color: white;
    list-style-type: none;
    padding: 10px 20px;
}

.header-menu button {
    color: #EA4563;
    background: transparent;
    padding: 11px 15px;
    border: 1px solid #EA4563;
    border-radius: 25px;
}

.header-content {
    width: 50%;
    margin: auto;
    margin-top: 80px;
}

.header-title {
    margin: 20px;
    text-align: center;
    color: white;
}

.header-description {
    color: #A0A8A8 ;
    text-align: center;
    font-size: 18px;
}

.header-email {
    width: 40%;
    margin: auto;
    margin-top: 50px;
}

.header-search {
    width: 65%;
    padding: 10px 15px;
    border-radius: 15px 0 0 15px;
} 

.header-submit {
    width: 35%;
    color: white;
    background: #EA4563;
    padding: 10px 15px;
    margin-left: -5px;
    border-radius: 0 15px 15px 0;
}

.header-user {
    width: 25%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 35px;
}

.message-user {
    background-color: white;
    padding: 20px 40px;
    border-radius: 15px;
    position: relative;
    right: 50px;
}

.message-user img {
    width: 66px;
    height: 64px;
    position: absolute;
    top: 5px;
    left: -30px;
}

.message-user p {
    font-size: 14px;
}

.message-company {
    background-color: white;
    padding: 20px 40px;
    border-radius: 15px;
    margin-top: 25px;
    position: relative;
    left: 50px;
}

.message-company img {
    position: absolute;
    width: 66px;
    height: 64px;
    top: 5px;
    right: -30px;
}

.message-company p {
    font-size: 14px;
}

/* Main */

/* Main container graphik */
.main-container-graphik {
    width: 70%;
    padding: 100px 0;
    margin: 0 auto;
    display: table;
    clear: both;
    border-bottom: 1px solid #C6C4C4;
}

.photo-graphik {
    width: 60%;
    float: left;
}

.photo-graphik img {
    width: 100%;
}

.graphik-description {
    width: 30%;
    padding: 20px 45px;
    float: right;
}

.graphik-description h2 {
    font-size: 36px;
    margin-bottom: 30px;
    position: relative;
}

.graphik-description h2:before {
    content: url(../img/line.png);
    width: 71px;
    height: 9px;
    position: absolute;
    left: 0;
    bottom: 10px;
}

.graphik-title-description {
    margin-bottom: 20px; 
    color: #646162;
}


.graphik-description a {
    color: #EB2647;
}

.graphik-description-table {
    display: table;
    margin-top: 20px;
}

.table-cell-left {
    padding-right: 5px;
    border-right: 1px solid #C6C4C4;
    display: table-cell;
}

.table-cell-right {
    padding-left: 5px;
    display: table-cell;
}

.table-cell-description {
    color: #646162;
    font-size: 15px;
}

/* Main container infographik */
.main-container-infographik {
    width: 70%;
    padding: 100px 0;
    margin: 0 auto;
    display: table;
    clear: both;
    border-bottom: 1px solid #C6C4C4;
}

.infographik-description {
    width: 30%;
    padding: 20px 45px;
    float: left;
}

.infographik-description h2 {
    font-size: 36px;
    margin-bottom: 30px;
    position: relative;
}

.infographik-description h2:before {
    content: url(../img/line.png);
    width: 71px;
    height: 9px;
    position: absolute;
    left: 0;
    bottom: 10px;
}

.infographik-description p {
    color: #646162;
    margin-bottom: 30px;
}

.infographik-description button {
    color: white;
    background-color: #EA4563;
    padding: 10px 30px;
    border-radius: 25px;
}

.photo-infographik {
    width: 60%;
    float: right;
}

.photo-infographik img {
    width: 100%;
}

/* Main container advice */
.main-container-advice {
    width: 70%;
    padding: 100px 0;
    margin: 0 auto;
    display: table;
    clear: both;
    border-bottom: 1px solid #C6C4C4;
}

.photo-advice {
    width: 60%;
    float: left;
}

.photo-advice img {
    width: 100%;
}

.advice-description {
    width: 30%;
    padding: 20px 45px;
    float: right;
}

.advice-description h2 {
    font-size: 36px;
    margin-bottom: 30px;
    position: relative;
}

.advice-description h2:before {
    content: url(../img/line.png);
    width: 71px;
    height: 9px;
    position: absolute;
    left: 0;
    bottom: 10px;
}

.advice-description p {
    color: #646162;
    margin-bottom: 30px;
}

.advice-description button {
    color: white;
    background-color: #EA4563;
    padding: 10px 30px;
    border-radius: 25px;
}

/* Main content increase sales */
.main-content-increase-sales {
    width: 70%;
    padding: 100px 0;
    margin: 0 auto;
}

.increase-sales-description {
    width: 50%;
    margin: auto;
    text-align: center;
}

.increase-sales-description h2 {
    font-size: 39px;
    padding-bottom: 20px;
}

.increase-sales-description p {
    color: #646162;
    padding-bottom: 40px;
}

.increase-sales-table {
    display: table;
    padding-top: 40px;
}

.table-cell {
    display: table-cell;
    clear: both;
    width: 30%;
    padding: 30px;
    border-bottom: 1px solid #d1d0d0f8;
}

.cell-icon {
    float: left;
    width: 25%;
}

.cell-description {
    float: right;
    width: 75%;
}

.cell-description p {
    color: #646162;
    padding-top: 9px;
}

/* Main content integration */
.main-content-integration {
    background: #F5F5F5;
    width: 100%;
    padding: 100px 0;
}

.integration-container {
    width: 70%;
    margin: auto;
    display: table;
    clear: both;
}

.integration-description {
    width: 40%;
    float: left;
    padding-top: 20px;
}

.integration-title {
    font-size: 35px;
    padding-bottom: 20px;
}

.title-description {
    color: #646162 ;
    font-size: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #0e0d0d;
}

.description {
    padding: 20px 0;
}

.integration-user-icon {
    display: table;
    clear: both;
}

.user-icon {
    width: 50px;
    height: 50px;
    background-color: #B5B3B3 ;
    border-radius: 50%;
    float: left;
}

.user-name {
    padding: 6px;
    float: right;
}

.user-name h5 {
    font-size: 17px;
}

.user-name p {
    color: #646162; 
    font-size: 15px;
}

.integration-icons {
    width: 60%;
    float: right;
}

.integration-icons img {
    width: 100%;
    position: relative;
    top: 0;
    left: -50px;
}

/* Main content graphik sales */
.main-content-graphik-sales {
    width: 70%;
    margin: 100px auto;
}

.graphik-sales-description {
    text-align: center;
}

.graphik-sales-description h2 {
    font-size: 39px;
    padding-bottom: 20px;
}

.graphik-sales-description p {
    color: #646162;
    padding-bottom: 20px;
}

.graphik-sales-description button {
    color: white;
    background-color: #EA4563;
    padding: 10px 30px;
    border-radius: 25px;
}

.graphik-sales-photo img {
    width: 100%;
    margin-top: 50px;
}

/* Footer */
footer {
    background: #F5F5F5;
}

.footer-container {
    width: 70%;
    padding: 50px 0;
    margin: 0 auto;
    display: table;
    clear: both;
}

.footer-logo {
    margin-bottom: 15px;
}

.footer-description {
    float: left;
    width: 30%;
}

.website-creator {
    float: left;
    width: 30%;
    margin: 18px 5% 0;
    text-align: center;
}

.footer-service {
    float: left;
    width: 30%;
    text-align: right;
    margin-top: -12px;
}

.footer-icons svg {
    padding: 5px 15px;
}

